/*Developer: Brandon Sabio,IS117-001, Fall 2023*/
html{
    background-color: 	#ffc99d;
}
/*styles for the header*/
header{
    border: 2px solid black;
    margin-top:0;
    margin-bottom:50px;
    padding:.5em;
}
header h2{
    text-align:center;
    color:black;
    margin:0;
    font-family:verdana, sans-serif;
}
body{
    background-color: #ff964f;
    text-align:center;
    border: 2px solid black;
    padding:5em;
    height:95%;
    margin:0 auto;
    max-width: 960px;
}
/* styles for the main */
main img{
    float:left;
    height:30%;
    width:30%;
    min-width:100px;
    padding:1em;
}
/*styles for the aside*/
aside{
    float:right;
    border:2px solid black;
    width:50%;
    height:60%;
    margin-top:10%;
    margin-right: 10%;
    
}
aside img{
    height:15%;
    width:15%;
    min-width:50px;
    padding:.75em;
}
aside p{
    font-size:85%;
}
/*styles for the footer*/
footer{
    background-color:white;
    text-align:center;
    padding:.75em;
    border:2px solid black;
    margin:0 auto;
    width:52.0833333%;
    margin-top:40%;
}
/*styles for the nav bar*/
nav li{
    float:left;
    width:25%
}
nav ul li{
    margin:0;
    padding:0;
    list-style-type:none;
    position:relative;
}
nav ul li a{
    display:block;
    padding-top:1em;
    padding-bottom:1em;
    text-align:center;
    color:black;
    background-color:white;
    text-decoration:none;
}
nav ul li ul{
    display:none;
    position:absolute;
    top:100%;
}
nav ul ul li{
	float:none;
    width:120%;
}
nav ul li:hover > ul{
display:block;
}
nav > ul::after{
	content:"";
	content:clear;
	display:block;
}
